<h1>Calculate Payment</h1>

<form action="/payment/results">
  <label for="APR">APR</label>
  <input id="APR" type="text" name="users_apr">

  <label for="years">Number of years</label>
  <input id="years" type="text" name="users_years">

  <label for="Principal">Principal</label>
  <input id="Principal" type="text" name="users_principal">
<button>Calculate monthly payment</button>
</form>
