<h1>Calculate random number between thresholds</h1>

<form action="/random/results">
  <label for="min">Minimum</label>
  <input id="min" type="text" name="users_min">

  <label for="max">Maximum</label>
  <input id="max" type="text" name="users_max">

<button>Pick random number</button>
</form>
